#app {
    .breadcrumb {
        .breadcrumb-item {
            &.active {
                h1 {
                    font-size: 1rem;
                    font-weight: normal;
                    display: inline-block;
                }
            }
        }
    }
}